# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml

# Generated platform folders (run `flutter create .` to regenerate)
# Remove the lines below if you choose to commit platform code.
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
.vscode/
